body{
    color: #ffffff;
}

span{
    background-color: #f08a5d;
    display: inline-block;
    height: 70px;
    width: 180px;
    /* Height & width only works only when display is block or inline-block */
}

div{
    background-color: #b83b5e;
    display: inline-block;
    height: 35px;
    width: 50px;
    /* float: left; */
}

p{
    background-color: #6a2c70;
    display: inline;
    float: right;
}